@mixin btn() {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 17px 10px 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px;
  border-color: $secondary-color;
  border-radius: 3px;
  outline: none;
  background-color: $secondary-color;
  font-family: $custom-font;
  font-size: 14px;
  font-weight: 200;
  appearance: none;
  &:link,
  &:visited {
    color: #FFFFFF;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2B5784;
    background-image: none;
    box-shadow: none;
  }
}
@mixin btn-cancel() {
  @include btn;
  border-color: #6E706F;
  background-color: #6E706F;
  &:link,
  &:visited {
    color: #FFFFFF;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: #FFFFFF;
    background-color: darken(#6E706F, 10%);
    background-image: none;
    box-shadow: none;
  }
}
@mixin btn-clear() {
  @include btn;
  color: #33669B;
  border: 1px solid #33669B;
  background-color: #FFFFFF;
}
@mixin btn-full() {
  @include btn;
  display: block;
  width: 100%;
  padding: 11px 15px 10px 15px;
  text-align: center;
}
@mixin btn-small() {
  padding: 6px 11px 5px 11px;
}
.btn {
  @include btn;
}
.btn-cancel {
  @include btn-cancel;
}
.btn-clear {
  @include btn-clear;
}
