.tabledrag-handle {
  box-sizing: content-box;
  .handle {
    box-sizing: content-box;
  }
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.field-multiple-table {
  border: 1px solid #CCCCCC;
}
