body.path-contact-hire {
  background: $primary-color;
  .region-content {
    padding-top: 100px;
    .node {
      h1,h2,p {
        color: #ffffff;
      }
      p.contact-intro {
        width: 85%;
        @media #{$small-only} {
          width: auto;
        }
      }
      p.contact-email {
        font-size: 22px;
        @media #{$tiny-only} {
          font-size: 20px;
        }
      }
      p.contact-skype {
        font-size: 18px;
        @media #{$tiny-only} {
          font-size: 16px;
        }
      }
    }
    .field--name-field-github {
      border-radius: 6px;
      background: lighten($primary-color, 5%);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      background-image: url('../images/github.png');
      background-repeat: no-repeat;
      background-position: 20px;
      background-size: 44px;
      @media #{$tiny-only} {
        background-position: 10px;
        background-size: 32px;
      }
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
      a {
        padding: 30px;
        padding-left: 80px;
        font-size: 18px;
        display: block;
        text-decoration: none;
        color: #FFF;
        @media #{$tiny-only} {
          padding: 20px;
          padding-left: 54px;
          font-size: 15px;
        }
      }
    }
    .field--name-field-linkedin {
      border-radius: 6px;
      background: lighten($primary-color, 5%);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      background-image: url('../images/linkedin.png');
      background-repeat: no-repeat;
      background-position: 20px;
      background-size: 44px;
      @media #{$tiny-only} {
        background-position: 10px;
        background-size: 32px;
      }
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
      a {
        padding: 30px;
        padding-left: 80px;
        font-size: 18px;
        display: block;
        text-decoration: none;
        color: #FFF;
        @media #{$tiny-only} {
          padding: 20px;
          padding-left: 54px;
          font-size: 15px;
        }
      }
    }
    .field--name-body {
      margin-bottom: 60px;
    }
  }
}