@import 'reset';
@import 'settings';

@import 'grid/clearfix';
@import 'grid/breakpoints';
@import 'grid/grid';

@import 'base/form';
@import 'base/form-item';
@import 'base/form-label';
@import 'base/form-select';
@import 'base/form-textarea';
@import 'base/form-composite';
@import 'base/form-submit';
@import 'base/form-tabledrag';
@import 'base/form-fieldset';
@import 'base/form-file';
@import 'base/form-filter-wrapper';
@import 'base/form-required';
@import 'base/field';

@import 'base/button';
//@import 'component/fonts';
@import 'component/type';
@import 'component/type-body';
@import 'component/table';
@import 'component/description';
@import 'component/slick';

@import 'region/layout';
@import 'region/layout-top';
@import 'region/layout-header';
@import 'region/layout-canyon';
@import 'region/layout-hero';
@import 'region/region';
@import 'region/region-content';

@import 'page/page';
@import 'page/front';

@import 'view/view-services';
@import 'view/view-certifications';
@import 'view/view-testimonials';
@import 'view/view-portfolio';

@import 'node/node';
@import 'node/node-certification-view-mode-teaser';
@import 'node/node-service-view-mode-teaser';
@import 'node/node-portfolio-view-mode-teaser';

@import 'ds/ds-1col-fullwidth-hero-footer';
@import 'ds/ds-1col-hero';
@import 'ds/ds-2col';
@import 'ds/ds-2col-75-25';

@import 'block/block-local-tasks';
@import 'block/block-contact-details-top';
@import 'block/block-hero-homepage';
@import 'block/block-hero-service';
@import 'block/block-hero-basic';
@import 'block/block-services-homepage';
@import 'block/block-certifications-homepage';
@import 'block/block-certifications-homepage-carousel';
@import 'block/block-testimonials-homepage';
@import 'block/block-user-account-menu';
@import 'block/block-primary-menu';
@import 'block/block-footer-menu';
@import 'block/block-user-account-menu';
@import 'block/block-horizontalmenu';
@import 'block/block-logo';
@import 'block/block-responsive-menu-mobile-icon';


body {
  @include display-breakpoint;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: $base-font;
  font-size: $base-font-size;
  background: #F6F6F6;
}

* {
  box-sizing: border-box;
}
