@import 'reset';
@import 'settings';

@import 'grid/breakpoints';
@import 'grid/grid';

@import 'region/region.scss';
@import 'region/region-top.scss';
@import 'region/region-header.scss';
@import 'region/region-global-search.scss';
@import 'region/region-hero.scss';
@import 'region/region-highlighted.scss';
@import 'region/region-content.scss';
@import 'region/region-above-content.scss';
@import 'region/region-sidebar-first.scss';
@import 'region/region-footer.scss';
@import 'region/region-bottom.scss';

@import 'component/colorbox';
@import 'component/fonts';
@import 'component/type';
@import 'component/form';
@import 'component/form-item';
@import 'component/form-label';
@import 'component/form-select';
@import 'component/form-textarea';
@import 'component/form-composite';
@import 'component/form-checkbox';
@import 'component/form-submit';
@import 'component/form-tabledrag';
@import 'component/form-fieldset';
@import 'component/form-file';
@import 'component/form-filter-wrapper';
@import 'component/form-required';
@import 'component/button';
@import 'component/poster';
@import 'component/hero';
@import 'component/field';
@import 'component/table';
@import 'component/throbber';
@import 'component/description';
@import 'component/selectize';
@import 'component/modal';
@import 'component/tooltipster';
@import 'component/highlight';
@import 'component/parsley';
@import 'component/dropbutton';
@import 'component/chosen';
@import 'component/ext';

@import 'block/block-local-tasks';
@import 'block/block-account-menu';
@import 'block/block-main-menu';
@import 'block/block-user-menu';
@import 'block/block-submenu';
@import 'block/block-responsive-menu-toggle';
@import 'block/block-horizontalmenu';
@import 'block/block-logo';
@import 'block/block-machine-views-block-homepage-block-1';

@import 'node/node';
@import 'node/node-page-view-mode-full';
@import 'node/node-portfolio-view-mode-teaser';

@import 'page/path-frontpage';

/* Setup */
body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  color: #333;
}

* {
  box-sizing: border-box;
}

body {
  @include display-breakpoint;
}


  img {
    width: 100%;
    height: auto;
  }
