@import 'reset';
@import 'settings';

@import 'grid/clearfix';
@import 'grid/breakpoints';
@import 'grid/grid';

@import 'base/form';
@import 'base/form-item';
@import 'base/form-label';
@import 'base/form-select';
@import 'base/form-textarea';
@import 'base/form-composite';
@import 'base/form-submit';
@import 'base/form-tabledrag';
@import 'base/form-fieldset';
@import 'base/form-file';
@import 'base/form-filter-wrapper';
@import 'base/form-required';
@import 'base/field';
@import 'base/button';

//@import 'component/fonts';
@import 'component/type';
@import 'component/type-body';
@import 'component/table';
@import 'component/description';
//@import 'component/slick';
@import 'component/hamburger';

@import 'region/layout';
@import 'region/layout-top';
@import 'region/layout-header';
@import 'region/layout-canyon';
@import 'region/layout-hero';
@import 'region/layout-content-lower';
@import 'region/layout-content';

@import 'page/page';
@import 'page/front';
@import 'page/path-contact-hire';
@import 'page/path-process';

@import 'view/view';
@import 'view/view-portfolio';
@import 'view/view-portfolio-small';
@import 'view/view-side-projects';

@import 'node/node';
@import 'node/node-homepage';
@import 'node/node-portfolio-view-mode-teaser';
@import 'node/node-portfolio-small-view-mode-teaser';
@import 'node/node-side-project-view-mode-teaser';
@import 'node/node-page-view-mode-full';

@import 'ds/ds-2col';
@import 'ds/ds-2col-stacked';

@import 'block/block-pagetitle';
@import 'block/block-local-tasks';
@import 'block/block-hero-homepage';
@import 'block/block-hero-service';
@import 'block/block-hero-basic';
@import 'block/block-primary-menu';
@import 'block/block-footer-menu';
@import 'block/block-logo';
@import 'block/block-responsive-menu-mobile-icon';
@import 'block/block-hamburger';
@import 'block/block-portfolio-small-links';


body {
  @include display-breakpoint;
  margin: 0;
  padding: 0;
  color: #333333;
  background: #FFFFFF;
  font-family: $base-font;
  font-size: $base-font-size;
}

* {
  box-sizing: border-box;
}
