@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600");
html {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

span,
applet,
object,
iframe,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ul {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

blockquote:before, blockquote:after {
  content: '';
}

img {
  display: inline-block;
  vertical-align: bottom;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.row {
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

.row .row {
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: -10px;
  margin-bottom: 0;
  margin-left: -10px;
}

.row .row:after {
  display: block;
  clear: both;
  content: '';
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

@media only screen {
  .small-1 {
    float: left;
    width: 8.3333333333%;
  }
  .small-2 {
    float: left;
    width: 16.6666666667%;
  }
  .small-3 {
    float: left;
    width: 25%;
  }
  .small-4 {
    float: left;
    width: 33.3333333333%;
  }
  .small-5 {
    float: left;
    width: 41.6666666667%;
  }
  .small-6 {
    float: left;
    width: 50%;
  }
  .small-7 {
    float: left;
    width: 58.3333333333%;
  }
  .small-8 {
    float: left;
    width: 66.6666666667%;
  }
  .small-9 {
    float: left;
    width: 75%;
  }
  .small-10 {
    float: left;
    width: 83.3333333333%;
  }
  .small-11 {
    float: left;
    width: 91.6666666667%;
  }
  .small-12 {
    float: left;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .medium-1 {
    float: left;
    width: 8.3333333333%;
  }
  .medium-2 {
    float: left;
    width: 16.6666666667%;
  }
  .medium-3 {
    float: left;
    width: 25%;
  }
  .medium-4 {
    float: left;
    width: 33.3333333333%;
  }
  .medium-5 {
    float: left;
    width: 41.6666666667%;
  }
  .medium-6 {
    float: left;
    width: 50%;
  }
  .medium-7 {
    float: left;
    width: 58.3333333333%;
  }
  .medium-8 {
    float: left;
    width: 66.6666666667%;
  }
  .medium-9 {
    float: left;
    width: 75%;
  }
  .medium-10 {
    float: left;
    width: 83.3333333333%;
  }
  .medium-11 {
    float: left;
    width: 91.6666666667%;
  }
  .medium-12 {
    float: left;
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .large-1 {
    float: left;
    width: 8.3333333333%;
  }
  .large-2 {
    float: left;
    width: 16.6666666667%;
  }
  .large-3 {
    float: left;
    width: 25%;
  }
  .large-4 {
    float: left;
    width: 33.3333333333%;
  }
  .large-5 {
    float: left;
    width: 41.6666666667%;
  }
  .large-6 {
    float: left;
    width: 50%;
  }
  .large-7 {
    float: left;
    width: 58.3333333333%;
  }
  .large-8 {
    float: left;
    width: 66.6666666667%;
  }
  .large-9 {
    float: left;
    width: 75%;
  }
  .large-10 {
    float: left;
    width: 83.3333333333%;
  }
  .large-11 {
    float: left;
    width: 91.6666666667%;
  }
  .large-12 {
    float: left;
    width: 100%;
  }
}

@media only screen and (min-width: 1441px) {
  .extra-large-1 {
    float: left;
    width: 8.3333333333%;
  }
  .extra-large-2 {
    float: left;
    width: 16.6666666667%;
  }
  .extra-large-3 {
    float: left;
    width: 25%;
  }
  .extra-large-4 {
    float: left;
    width: 33.3333333333%;
  }
  .extra-large-5 {
    float: left;
    width: 41.6666666667%;
  }
  .extra-large-6 {
    float: left;
    width: 50%;
  }
  .extra-large-7 {
    float: left;
    width: 58.3333333333%;
  }
  .extra-large-8 {
    float: left;
    width: 66.6666666667%;
  }
  .extra-large-9 {
    float: left;
    width: 75%;
  }
  .extra-large-10 {
    float: left;
    width: 83.3333333333%;
  }
  .extra-large-11 {
    float: left;
    width: 91.6666666667%;
  }
  .extra-large-12 {
    float: left;
    width: 100%;
  }
}

input {
  border: 1px solid #CACACA;
  border-radius: 0;
}

input.inline {
  display: inline-block !important;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'] {
  position: relative;
  left: 0;
  display: block;
  max-width: 100%;
  height: 36px;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 7px;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  text-decoration: none;
  color: #000000;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  appearance: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus {
  outline: none;
  box-shadow: 0 0 5px #999999;
}

input[type='text'][disabled],
input[type='password'][disabled],
input[type='date'][disabled],
input[type='datetime'][disabled],
input[type='datetime-local'][disabled],
input[type='month'][disabled],
input[type='week'][disabled],
input[type='email'][disabled],
input[type='number'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='time'][disabled],
input[type='url'][disabled] {
  background-color: #DDDDDD;
}

.form-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 4px;
  color: #4D4D4D;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

label.inline {
  display: inline-block !important;
}

legend {
  display: block;
  margin-bottom: 4px;
  color: #4D4D4D;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

legend.inline {
  display: inline-block !important;
}

details {
  padding: 20px;
  border: 1px solid #CCCCCC;
}

select {
  position: relative;
  left: 0;
  display: block;
  max-width: 100%;
  height: 36px;
  margin: 0 0 10px 0;
  padding: 6px;
  cursor: pointer;
  color: #000000;
  border: 1px solid #CACACA;
  border-radius: 0;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  appearance: none;
}

select:disabled {
  border-color: #CCCCCC;
  background-color: #EAEAEA;
}

select:focus {
  outline: 0;
}

textarea {
  position: relative;
  left: 0;
  display: block;
  height: auto;
  margin-right: 0;
  padding: 8px;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  text-decoration: none;
  color: #000000;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  appearance: none;
}

textarea:focus {
  border-color: #999999;
  outline: none;
  background: #FAFAFA;
  box-shadow: 0 0 5px #999999;
}

.form-composite legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.form-composite .form-item label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-weight: 400;
}

.form-composite .form-item input {
  display: inline-block;
  margin: 0;
  margin-right: 3px;
  vertical-align: middle;
}

.button.form-submit {
  display: inline-block;
  padding: 7px 24px;
  cursor: pointer;
  text-decoration: none;
  color: #666666;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  background: linear-gradient(to bottom, #F9F9F9 5%, #E9E9E9 100%);
  background-color: #F9F9F9;
  box-shadow: inset 0 1px 0 0 #FFFFFF;
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
  appearance: none;
}

.button.form-submit:hover {
  background: linear-gradient(to bottom, #E9E9E9 5%, #F9F9F9 100%);
  background-color: #E9E9E9;
}

.button.form-submit:active {
  position: relative;
  top: 1px;
}

.tabledrag-handle {
  box-sizing: content-box;
}

.tabledrag-handle .handle {
  box-sizing: content-box;
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.field-multiple-table {
  border: 1px solid #CCCCCC;
}

fieldset {
  min-width: 0;
}

html.firefox fieldset {
  display: table-cell;
}

input.form-file {
  position: relative;
  left: 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 7px;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  text-decoration: none;
  color: #000000;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  background: #FCFCFA;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  font-size: 13px;
  font-weight: 200;
  appearance: none;
}

form .filter-wrapper {
  display: none;
}

.form-required:after {
  display: inline-block;
  content: '*';
  color: #FF0000;
}

label.form-required:after {
  margin: 0 0 0 5px;
}

.field__label {
  margin-bottom: 5px;
  color: #656565;
  font-weight: bold;
}

.field--label-inline .field__label {
  display: inline-block;
}

.field--label-inline .field__item {
  display: inline-block;
}

.field--label-inline .field__items {
  display: inline-block;
  float: none;
}

.form-submit {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 17px 10px 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px;
  border-color: #FF3B5D;
  border-radius: 3px;
  outline: none;
  background-color: #FF3B5D;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 200;
  appearance: none;
  appearance: none;
}

.form-submit:link, .form-submit:visited {
  color: #FFFFFF;
}

.form-submit:hover, .form-submit:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2B5784;
  background-image: none;
  box-shadow: none;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 17px 10px 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px;
  border-color: #FF3B5D;
  border-radius: 3px;
  outline: none;
  background-color: #FF3B5D;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 200;
  appearance: none;
}

.btn:link, .btn:visited {
  color: #FFFFFF;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2B5784;
  background-image: none;
  box-shadow: none;
}

.btn-cancel {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 17px 10px 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px;
  border-color: #FF3B5D;
  border-radius: 3px;
  outline: none;
  background-color: #FF3B5D;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 200;
  appearance: none;
  border-color: #6E706F;
  background-color: #6E706F;
}

.btn-cancel:link, .btn-cancel:visited {
  color: #FFFFFF;
}

.btn-cancel:hover, .btn-cancel:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2B5784;
  background-image: none;
  box-shadow: none;
}

.btn-cancel:link, .btn-cancel:visited {
  color: #FFFFFF;
}

.btn-cancel:hover, .btn-cancel:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #555656;
  background-image: none;
  box-shadow: none;
}

.btn-clear {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 17px 10px 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px;
  border-color: #FF3B5D;
  border-radius: 3px;
  outline: none;
  background-color: #FF3B5D;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 200;
  appearance: none;
  color: #33669B;
  border: 1px solid #33669B;
  background-color: #FFFFFF;
}

.btn-clear:link, .btn-clear:visited {
  color: #FFFFFF;
}

.btn-clear:hover, .btn-clear:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2B5784;
  background-image: none;
  box-shadow: none;
}

p {
  margin-bottom: 15px;
  color: #444444;
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

h3 {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #FF3B5D;
}

a:hover, a:focus {
  text-decoration: underline;
}

@media only screen {
  .text-center-small-only {
    text-align: center;
  }
}

ul.no-bullet {
  margin-left: 0;
  list-style: none;
}

hr {
  clear: both;
  height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #DDDDDD;
  border-width: 1px 0 0;
}

hr.no-margin {
  margin: 0;
}

hr.small-margin {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

hr.margin-bottom {
  margin: 0;
  margin-bottom: 14px;
}

.field--name-body ul,
.field--name-body ol {
  margin-bottom: 20px;
  margin-left: 20px;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 18px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #DDDDDD;
  border-collapse: separate;
  border-radius: 4px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #DDDDDD;
  line-height: 18px;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #DDDDDD;
}

table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #DDDDDD;
}

table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}

table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}

table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}

table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #F9F9F9;
}

table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #F5F5F5;
}

.description {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 15px;
  padding: 0;
  color: #666666;
  font-size: 13px;
  line-height: 16px;
}

#hamburger {
  float: right;
  position: relative;
  width: 25px;
  height: 18px;
  margin: 13px 13px 12px 13px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
  z-index: 20;
}

@media only screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }
}

#hamburger.open {
  z-index: 110;
}

#hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 3px;
  background: #FF3B5D;
}

#hamburger span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  top: -2px;
  left: 3px;
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  top: 16px;
  left: 3px;
  transform: rotate(-45deg);
}

.layout:after {
  display: block;
  clear: both;
  content: '';
}

.layout-top {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #162A3B;
}

.layout-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: background, box-shadow;
  box-shadow: 0 1px 2px transparent;
}

.layout-header.scrolled-into-view {
  background: #162A3B;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.layout-canyon {
  background: #162A3B;
}

.region-canyon {
  padding: 65px 0 50px 0;
}

@media only screen and (max-width: 767px) {
  .region-canyon {
    padding: 25px 0 10px 0;
  }
}

.layout-hero {
  height: 650px;
  background: #162A3B;
  background-size: cover;
}

.region {
  position: relative;
}

.region:after {
  display: block;
  clear: both;
  content: '';
}

.region-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page .main {
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.page .main:after {
  display: block;
  clear: both;
  content: '';
}

.page .main .region-content {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.page.sidebar-first .main {
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.page.sidebar-first .main:after {
  display: block;
  clear: both;
  content: '';
}

.page.sidebar-first .main .region-content {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 75%;
}

.page.sidebar-first .main .region-sidebar-first {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
}

.page.sidebar-second .main {
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.page.sidebar-second .main:after {
  display: block;
  clear: both;
  content: '';
}

.page.sidebar-second .main .region-content {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 75%;
}

.page.sidebar-second .main .region-sidebar-second {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
}

.page.both-sidebars .main {
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.page.both-sidebars .main:after {
  display: block;
  clear: both;
  content: '';
}

body.front .block-id-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

body.front .block-id-content h1,
body.front .block-id-content h2,
body.front .block-id-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333333;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
}

body.front .block-id-content .node--type-page .group-left {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

body.front .block-id-content .node--type-page .group-right {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.view.view-portfolio {
  margin-top: -170px;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: opacity, transform;
  transform: translateY(100px);
}

@media only screen and (max-width: 767px) {
  .view.view-portfolio {
    margin-top: -150px;
  }
}

.view.view-portfolio.scrolled-into-view {
  transform: translate(0);
}

.view.view-portfolio .view-content {
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: -10px;
  margin-bottom: 0;
  margin-left: -10px;
}

.view.view-portfolio .view-content:after {
  display: block;
  clear: both;
  content: '';
}

.view.view-portfolio .view-content .views-row {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.view.view-portfolio-small .view-header h2 {
  color: #FFFFFF;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 62px;
}

.view.view-portfolio-small .view-header p {
  color: #FFF;
}

.view.view-portfolio-small .view-content {
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: -10px;
  margin-bottom: 0;
  margin-left: -10px;
}

.view.view-portfolio-small .view-content:after {
  display: block;
  clear: both;
  content: '';
}

.view.view-portfolio-small .view-content .views-row {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 33.3333333333%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .view.view-portfolio-small .view-content .views-row {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

.view.view-portfolio-small .views-field-title {
  color: #FFFFFF;
}

.view.view-side-projects .view-content {
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: -10px;
  margin-bottom: 0;
  margin-left: -10px;
}

.view.view-side-projects .view-content:after {
  display: block;
  clear: both;
  content: '';
}

.view.view-side-projects .view-content .views-row {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 33.3333333333%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .view.view-side-projects .view-content .views-row {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
}

.view.view-side-projects .views-field-title {
  color: #FFFFFF;
}

.node:after {
  display: block;
  clear: both;
  content: '';
}

.node--unpublished {
  background-color: #FFF4F4;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8) translateY(100px);
    opacity: 0;
  }
}

.node--type-portfolio.node--view-mode-teaser {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  background: #18344C;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .node--type-portfolio.node--view-mode-teaser {
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}

.node--type-portfolio.node--view-mode-teaser > .group-left {
  position: relative;
  overflow: hidden;
  flex: 5 0 0;
  min-height: 480px;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: background;
}

.node--type-portfolio.node--view-mode-teaser > .group-left:hover {
  background-color: #244460;
}

@media only screen and (max-width: 767px) {
  .node--type-portfolio.node--view-mode-teaser > .group-left {
    flex: 1 0 100%;
  }
}

.node--type-portfolio.node--view-mode-teaser > .group-right {
  flex: 3 0 0;
  padding: 30px;
  background: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .node--type-portfolio.node--view-mode-teaser > .group-right {
    padding: 20px;
    flex: 1 0 100%;
  }
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-portfolio-type {
  z-index: 2;
  margin: 30px 0 0 30px;
  font-size: 20px;
  display: inline-block;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-portfolio-type span {
  display: block;
  width: fit-content;
  text-transform: uppercase;
  border-top: 2px #FF3B5D solid;
  font-size: 12px;
  line-height: 30px;
  padding: 0 3px 0 3px;
  color: #FFFFFF;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-drupal-version {
  margin: 30px 0 0 -4px;
  display: inline-block;
  width: fit-content;
  text-transform: uppercase;
  border-top: 2px #2b5784 solid;
  font-size: 12px;
  line-height: 30px;
  padding: 0 3px 0 3px;
  color: #FFFFFF;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-company-title {
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 30px 0 30px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-node-title {
  z-index: 2;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0 30px 0 30px;
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 300;
  line-height: 34px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-hero-image {
  position: absolute;
  bottom: -100px;
  left: 30px;
  overflow: hidden;
  margin: 0;
  padding-right: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .node--type-portfolio.node--view-mode-teaser .field--name-field-hero-image {
    bottom: -20px;
    left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .node--type-portfolio.node--view-mode-teaser .field--name-field-hero-image {
    bottom: -20px;
    left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .node--type-portfolio.node--view-mode-teaser .field--name-field-hero-image {
    bottom: -60px;
    left: 30px;
    padding-right: 30px;
  }
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-hero-image.show-screenshot img {
  animation: scaleUp 0.7s ease both;
  opacity: 1;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-hero-image img {
  z-index: 1;
  width: 100%;
  height: auto;
  opacity: 0;
}

.node--type-portfolio.node--view-mode-teaser .field--name-body h3 {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-body p {
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-body p:last-of-type {
  margin-bottom: 0;
}

.node--type-portfolio.node--view-mode-teaser .field--name-body ul {
  margin: 0;
  list-style: none;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-body ul li {
  margin-bottom: 10px;
  padding-left: 25px;
  list-style: none;
  background-image: url("../images/dot.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  line-height: 18px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-body hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-website {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-website a {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 11px 17px 10px 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px;
  border-color: #FF3B5D;
  border-radius: 3px;
  outline: none;
  background-color: #FF3B5D;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 200;
  appearance: none;
  text-transform: lowercase;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-website a:link, .node--type-portfolio.node--view-mode-teaser .field--name-field-website a:visited {
  color: #FFFFFF;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-website a:hover, .node--type-portfolio.node--view-mode-teaser .field--name-field-website a:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2B5784;
  background-image: none;
  box-shadow: none;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-tag-phases .field-item {
  margin-bottom: 5px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .group-left {
  width: auto;
  margin-right: 10px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .group-right {
  width: auto;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .field--name-taxonomy-term-title {
  color: #678CB1;
  line-height: 24px;
}

.node--type-portfolio.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .field--name-field-phase-icon img {
  width: 26px;
  height: auto;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-node-title h3 {
  display: block;
  margin-bottom: 2px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.view-portfolio-small-links .node--type-portfolio-small.node--view-mode-teaser .field--name-node-title {
  color: #FFFFFF;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-body h3 {
  display: block;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-body p {
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-body ul {
  margin: 0;
  list-style: none;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-body ul li {
  margin-bottom: 10px;
  padding-left: 25px;
  list-style: none;
  background-image: url("../images/dot.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  line-height: 18px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-field-tag-phases .field-item {
  margin-bottom: 5px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .group-left {
  width: auto;
  margin-right: 10px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .group-right {
  width: auto;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .field--name-taxonomy-term-title {
  color: #678CB1;
  line-height: 24px;
}

.node--type-portfolio-small.node--view-mode-teaser .field--name-field-tag-phases .taxonomy-term .field--name-field-phase-icon img {
  width: 26px;
  height: auto;
}

.node--type-side-project.node--view-mode-teaser {
  background: #FFFFFF;
  padding: 20px;
}

.node--type-side-project.node--view-mode-teaser .field--name-node-title {
  margin-bottom: 0;
  font-size: 34px;
  font-weight: 300;
  line-height: 34px;
}

.node--type-side-project.node--view-mode-teaser .field--name-body h3 {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.node--type-side-project.node--view-mode-teaser .field--name-body p {
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

.node--type-side-project.node--view-mode-teaser .field--name-body ul {
  margin: 0;
  list-style: none;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

.node--type-side-project.node--view-mode-teaser .field--name-body ul li {
  margin-bottom: 10px;
  padding-left: 25px;
  list-style: none;
  background-image: url("../images/dot.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  line-height: 18px;
}

.node--type-side-project.node--view-mode-teaser .field--name-field-github {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .ds-2col > .group-left {
    float: none;
    width: auto;
  }
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .ds-2col > .group-right {
    float: none;
    width: auto;
  }
}

.block-local-tasks-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-local-tasks-block:after {
  display: block;
  clear: both;
  content: '';
}

.block-local-tasks-block ul:after {
  display: block;
  clear: both;
  content: '';
}

.block-local-tasks-block ul li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-local-tasks-block ul li a {
  float: left;
  padding: 11px 15px;
  color: white;
  background: #000000;
  font-family: 'Source Sans Pro', 'Lucida Grande', Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
}

.block-local-tasks-block ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #FFFFFF;
  background: #000000;
  background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
}

.block-local-tasks-block ul li a.active, .block-local-tasks-block ul li a.is-active {
  text-decoration: underline;
  color: #FFFFFF;
  background: #000000;
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}

.block-id-hero-homepage {
  margin-top: 140px;
  margin-bottom: 40px;
}

.block-id-hero-homepage .field--name-body {
  max-height: 310px;
}

.block-id-hero-homepage .field--name-body h2 {
  color: #FFFFFF;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 62px;
}

@media only screen and (max-width: 767px) {
  .block-id-hero-homepage .field--name-body h2 {
    font-size: 50px;
    line-height: 56px;
  }
}

.block-id-hero-homepage .field--name-body h2 strong {
  color: #162A3B;
  font-weight: 300;
}

.block-id-hero-homepage .field--name-body p {
  color: #FFFFFF;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

@media only screen and (max-width: 767px) {
  .block-id-hero-homepage .field--name-body p {
    font-size: 18px;
    line-height: 26px;
  }
}

.block-id-hero-service .field--name-field-hero {
  display: none;
}

.block-id-hero-service .field--name-field-hero-heading {
  float: left;
  width: 400px;
  margin: 0;
  padding-top: 50px;
  color: #FFFFFF;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .block-id-hero-service .field--name-field-hero-heading {
    width: 80%;
    padding-top: 40px;
  }
}

.block-id-hero-service .field--name-field-hero-heading h1,
.block-id-hero-service .field--name-field-hero-heading h2,
.block-id-hero-service .field--name-field-hero-heading p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 48px;
}

.block-id-hero-service .field--name-field-hero-heading h1 strong,
.block-id-hero-service .field--name-field-hero-heading h2 strong,
.block-id-hero-service .field--name-field-hero-heading p strong {
  color: #162A3B;
  font-weight: 200;
}

.block-id-hero-service .field--name-field-hero-subheading {
  float: right;
  width: 300px;
  margin: 0;
  margin-top: 150px;
  margin-bottom: 40px;
  padding: 20px;
  color: #FFFFFF;
  border-bottom: 5px solid #162A3B;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 200;
}

@media only screen and (max-width: 767px) {
  .block-id-hero-service .field--name-field-hero-subheading {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.block-id-hero-basic .field--name-field-hero {
  display: none;
}

.block-id-hero-basic .field--name-field-hero-heading {
  float: left;
  width: 400px;
  margin: 0;
  padding-top: 50px;
  color: #FFFFFF;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .block-id-hero-basic .field--name-field-hero-heading {
    width: 80%;
    padding-top: 40px;
  }
}

.block-id-hero-basic .field--name-field-hero-heading h1,
.block-id-hero-basic .field--name-field-hero-heading h2,
.block-id-hero-basic .field--name-field-hero-heading p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: "Lato", "helvetica", "arial", sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 48px;
}

.block-id-hero-basic .field--name-field-hero-heading h1 strong,
.block-id-hero-basic .field--name-field-hero-heading h2 strong,
.block-id-hero-basic .field--name-field-hero-heading p strong {
  color: #162A3B;
  font-weight: 200;
}

.block-id-hero-basic .field--name-field-hero-subheading {
  float: right;
  width: 300px;
  margin: 0;
  margin-top: 150px;
  margin-bottom: 40px;
  padding: 20px;
  color: #FFFFFF;
  border-bottom: 5px solid #162A3B;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 200;
}

@media only screen and (max-width: 767px) {
  .block-id-hero-basic .field--name-field-hero-subheading {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.block-id-primarymenu {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 75%;
}

.block-id-primarymenu ul.menu {
  z-index: 140;
  float: right;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border-bottom: 0;
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.block-id-primarymenu ul.menu:after {
  display: block;
  clear: both;
  content: '';
}

.block-id-primarymenu ul.menu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.block-id-primarymenu ul.menu li a {
  display: block;
  padding: 7px 13px;
  text-decoration: none;
  color: #FF3B5D;
  background: none;
}

.block-id-primarymenu ul.menu li a:hover {
  text-decoration: underline;
  color: #FF3B5D;
}

.block-id-primarymenu ul.menu li a.active {
  text-decoration: underline;
  color: #FF3B5D;
}

@media only screen and (max-width: 767px) {
  .block-id-primarymenu {
    display: none;
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: black;
    /* Black fallback color */
    background-color: rgba(22, 42, 59, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  .block-id-primarymenu.open {
    display: block;
  }
  .block-id-primarymenu ul.menu {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    z-index: 140;
    float: right;
    padding: 0;
    vertical-align: middle;
    border-bottom: 0;
    font-family: "Open Sans", "helvetica", "arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
  }
  .block-id-primarymenu ul.menu li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .block-id-primarymenu ul.menu li a {
    display: block;
    padding: 7px 13px;
    text-decoration: none;
    color: #FF3B5D;
    background: none;
  }
  .block-id-primarymenu ul.menu li a:hover {
    text-decoration: underline;
    color: #FF3B5D;
  }
  .block-id-primarymenu ul.menu li a.active {
    text-decoration: underline;
    color: #FF3B5D;
  }
}

.block-id-footermenu {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .block-id-footermenu {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 767px) {
  .block-id-footermenu {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
}

.block-id-footermenu ul.menu {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border-bottom: 0;
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.block-id-footermenu ul.menu:after {
  display: block;
  clear: both;
  content: '';
}

.block-id-footermenu ul.menu li {
  display: block;
  text-decoration: none;
}

.block-id-footermenu ul.menu li a {
  display: block;
  text-decoration: none;
  color: #162A3B;
}

.block-id-footermenu ul.menu li a:hover {
  text-decoration: underline;
  color: #162A3B;
}

.block-id-footermenu ul.menu li a.active {
  text-decoration: underline;
  color: #162A3B;
}

.block-id-logo {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
}

@media only screen and (max-width: 767px) {
  .block-id-logo {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
  }
}

.block-id-logo .logo {
  float: left;
  width: 162px;
  height: 37px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 13px 0 12px 4px;
}

@media only screen and (max-width: 767px) {
  .block-id-logo .logo {
    float: left;
    width: 173px;
    height: 18px;
    background-image: url("../images/logo-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.block-id-logo .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.block-id-logo .field {
  margin: 0;
}

.block-id-responsivemenumobileicon {
  float: right;
}

.block-id-responsivemenumobileicon span.icon {
  left: 0;
  background: #000000;
}

.block-id-responsivemenumobileicon .responsive-menu-toggle-icon {
  width: 30px;
  height: 24px;
}

.block-id-responsivemenumobileicon .responsive-menu-toggle-icon:before {
  top: 4px;
}

.block-id-responsivemenumobileicon .responsive-menu-toggle-icon:after {
  top: 10px;
}

.block-id-responsivemenumobileicon .responsive-menu-toggle-icon span .icon {
  top: 16px;
}

.block-id-responsivemenumobileicon .responsive-menu-toggle-icon span label {
  position: absolute;
  top: 2px;
  left: 40px;
  display: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 17px;
}

.block-id-responsivemenumobileicon:before, .block-id-responsivemenumobileicon:after {
  left: 0;
  background: #000000;
}

.block-id-hamburger {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 16.6666666667%;
  float: right;
}

.block-id-portfolio-small-links h2 {
  color: #FFF;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: #F6F6F6;
  font-family: "Open Sans", "helvetica", "arial", sans-serif;
  font-size: 15px;
}

body:after {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  text-align: center;
  opacity: 0.8;
  color: #FFFFFF;
  background: #000000;
}

@media only screen {
  body:after {
    content: 'small-up';
    background: #FFA500;
  }
}

@media only screen and (max-width: 767px) {
  body:after {
    content: "small - 0, 767px";
    background: #FFA500;
  }
}

@media only screen and (max-width: 420px) {
  body:after {
    content: "tiny - 0, 420px";
    background: red;
  }
}

@media only screen and (min-width: 768px) {
  body:after {
    content: 'medium-up';
    background: #008000;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body:after {
    content: "medium - 768px, 1024px)";
    background: #008000;
  }
}

@media only screen and (min-width: 1025px) {
  body:after {
    content: 'large-up';
    background: #0000FF;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  body:after {
    content: "large - 1025px, 1279px";
    background: #0000FF;
  }
}

@media only screen and (min-width: 1441px) {
  body:after {
    content: 'extra-large-up';
    background: #0000FF;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 5000px) {
  body:after {
    content: "extra-large - 1441px, 5000px";
    background: #0000FF;
  }
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */