.layout-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: background, box-shadow;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  background: $primary-color;
  &.scrolled-into-view {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  }
}

.front {
  .layout-header {
    background: none;
    &.scrolled-into-view {
      background: $primary-color;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    }
  }
}