.block-account-menu {
  float: right;
  ul.menu {
    @include clearfix;
    margin: 0;
    font-weight: 400;
    font-family: $base-font;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    border-bottom: none;
    z-index: 140;
    padding: 0;
    border-right: none;
    li {
      float: left;
      display: block;
      text-decoration: none;
      a {
        padding: 5px 14px;
        display: block;
        background: none;
        color: $primary-color;
        text-decoration: none;
        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
        &.active {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}