.block-machine-submenu {
  @include grid-column(5);
  ul.menu {
    @include clearfix;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: $base-font;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    border-bottom: none;
    z-index: 140;
    li {
      padding: 0;
      margin: 0;
      float: left;
      display: block;
      text-decoration: none;
      a {
        padding:9px 16px 10px 16px;
        display: block;
        background: none;
        color: #FFF;
        text-decoration: none;
        &:hover {
          color: #FFF;
          text-decoration: underline;
        }
        &.active {
          color: #ff561f;
          text-decoration: none;
        }
        &.is-active {
          color: #ff561f;
          text-decoration: none;
        }
      }
      &.menu-item--active-trail {
        a {
          border-bottom: 4px solid $primary-color;
        }
      }
    }
  }
}


