.block-machine-horizontalmenu {
  @include grid-column(5);
  ul.horizontal-menu {
    li {
      > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFFFFF;
      }
    }
    li.menu-item {
      margin: 0;
    }
    li.sfHover {
      > a {
        //color: $primary-color;
        //background: #ffffff;
        //border-bottom: 0;
        //box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        //border-top-left-radius: 3px;
        //border-top-right-radius: 3px;
        //padding-top: 10px;
        //padding-bottom: 10px;
      }
    }
    ul.sub-nav {
      width: 100%;
      border: 1px solid #EAEAEA;
      border-bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.2);
      li {
        border-bottom: 1px solid #EAEAEA;
        a {
          padding-top: 10px;
          padding-bottom: 10px;
          color: $primary-color;
        }
      }
    }
  }
}
