.block-machine-usermenu {
  float: right;
  border-right: 1px solid #CCC;
  padding: 10px 0 10px 0;
  h2 {
    font-weight: 400;
    color: #8ADCF8;
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    display: none;
  }
}

//  Menu Block - Header
//  ==========================================================================
.region-sub-header {
  ul.menu {
    margin: 0;
    font-weight: 400;
    font-family: $base-font;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    border-bottom: none;
    z-index: 140;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      display: block;
      text-decoration: none;
      float: left;
      &:first-child a {
        padding-left: 0;
        color: #28AEA2;
        &:hover {
          color: #28AEA2;
          text-decoration: underline;
        }
        &.is-active {
          font-weight: 600;
          text-decoration: underline;
        }
      }
      a {
        padding: 0 14px 0 14px;
        display: block;
        background: none;
        color: $primary-color;
        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
        &.is-active {
          font-weight: 600;
          text-decoration: underline;
        }
      }
      // Special Menu Items
      span {
        padding: 5px 14px;
        display: block;
        background: none;
        color: $primary-color;
        cursor: context-menu;
        @media #{$medium-only} {
          padding: 2px 6px;
          font-size: 13px;
        }
      }
    }
  }
}