.block-id-hero-homepage {
  margin-top: 140px;
  margin-bottom: 40px;
  @media #{$small-only} {
    margin-top: 110px;
    margin-bottom: 60px;
  }
  .field--name-body {
    h2 {
      color: #FFFFFF;
      font-size: 54px;
      font-weight: 300;
      line-height: 62px;
      @media #{$small-only} {
        font-size: 48px;
        line-height: 54px;
      }
      strong {
        color: $primary-color;
        font-weight: 300;
      }
    }
    p {
      color: #FFFFFF;
      font-family: $base-font;
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      @media #{$small-only} {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }
}
