.block-id-logo {
  @include grid-column(3);
  @media #{$small-only} {
    @include grid-column(6);
  }
  .logo {
    float: left;
    width: 162px;
    height: 37px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    @media #{$small-only} {
      float: left;
      width: 164px;
      height: 18px;
      background-image: url('../images/logo-mobile.png');
      background-repeat: no-repeat;
      background-size: 164px 18px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .field {
    margin: 0;
  }
}
