.block-machine-responsive-menu-toggle {
  display: block;
  .responsive-menu-toggle-icon:before,
  .responsive-menu-toggle-icon:after,
  .responsive-menu-toggle-icon span.icon {
    left: 0;
  }
  .responsive-menu-toggle-icon span.label {
    top: 6px;
    left: 33px;
  }
}