.block-id-certifications-homepage-carousel {
  margin-top: 20px;
  .block-title {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;
    @media #{$small-only} {
      width: auto;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
