.block-machine-views-block-homepage-block-1 {
  background-size: cover;
  .view-content {
    @include grid-row;
  }
  .views-row {
    @include grid-column(12);
  }
  .field--name-body {
    padding-top: 100px;
    h2 {
      color: #FFF;
      font-size: 46px;
    }
    p {
      color: #FFF;
    }
  }
}




