.block-id-hero-basic-page {
  .field--name-field-hero-title {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: $custom-font;
    font-size: 40px;
    font-weight: 200;
    line-height: 48px;
    strong {
      color: $primary-color;
      font-weight: 200;
    }
  }
  .field--name-field-hero-subtitle {
    p {
      margin-top: 0;
      margin-bottom: 20px;
      color: #FFFFFF;
      font-family: $custom-font;
      font-size: 40px;
      font-weight: 200;
      line-height: 48px;
      strong {
        color: $primary-color;
        font-weight: 200;
      }
    }
  }
}
