.node--type-page.node--view-mode-full {
  position: relative;
  display: flex;
  flex-direction: row;
  @media #{$small-only} {
    flex-direction: column-reverse;
  }
  > .group-left {
    flex: 6 0 0;
    @media #{$small-only} {
      flex: 1 0 100%;
    }
  }
  > .group-right {
    flex: 3 0 0;
    @media #{$small-only} {
      flex: 1 0 100%;
      margin-bottom: 20px;
    }
  }
  .toc-js {
    padding: 0 20px;
    background-color: #ffffff;
    position: fixed;
    top: 90px;
    @media #{$small-only} {
      padding: 0;
      position: relative;
      top: 0;
    }
    .toc-title {
      display: block;
      margin-bottom: 14px;
      text-transform: uppercase;
      color: #212121;
      font-family: $base-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
    ul {
      margin: 0;
      list-style: none;
      color: #666666;
      font-size: 14px;
      line-height: 20px;
      li {
        margin-bottom: 8px;
        font-size: 13px;
        padding-left: 20px;
        list-style: none;
        background-image: url('../images/section.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 20px;
        line-height: 18px;
        a {
          text-decoration: none;
        }
        &.toc-active {
          font-weight: 600;
        }
        &.toc-h1 {
          display: none;
        }
        &.toc-h2 {

        }
        &.toc-h3 {
          padding-left: 30px;
          background-image: none;
        }
        &.toc-h4 {
          padding-left: 30px;
          background-image: none;
        }
      }
    }
  }
}
