#cboxOverlay {
  background: #000000;
}
#colorbox, #cboxOverlay, #cboxWrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #888888;
}
#cboxLoadedContent {
  .all-product-list {
    @media #{$small-only}{
      width: 100% !important;
    }
  }
}


/* Styles for Click to enlarge Images on CAAS pages*/
#colorbox.imageEnlarge {
  box-shadow: none;
}
#colorbox.imageEnlarge,
#colorbox.imageEnlarge > #cboxWrapper,
#colorbox.imageEnlarge #cboxContent,
#colorbox.imageEnlarge #cboxLoadedContent,
#colorbox.imageEnlarge #cboxLoadedContent .cboxPhoto {
  max-width: 100%;
  height: auto !important;
}
#colorbox.imageEnlarge #cboxMiddleLeft,
#colorbox.imageEnlarge #cboxMiddleRight {
  height: auto !important;
}
#colorbox.imageEnlarge #cboxLoadedContent {
  margin-bottom: 0px;
}
#colorbox.imageEnlarge > #cboxWrapper {
  position: relative !important;
}

a.click-image-enlarge{
  cursor:pointer !important;
}

body.html #cboxLoadedContent {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}