@font-face {
  font-family: "artifakt-legend";
  src: url('../fonts/legend/WOFF/Artifakt Legend Light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "artifakt-legend";
  src: url('../fonts/legend/WOFF/Artifakt Legend Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Autodesk-Icon-Font";
  src: url('../fonts/Autodesk-Icon-Font.ttf');
  font-style: normal;
  font-weight: normal;
}