$azure: #00f0ff;

.posters {
}
.poster {
  padding-top: 15px;
  padding-bottom: 15px;
  .poster-inner {
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
  .poster-overlay {
    position: absolute;
    padding: 10px 10px 10px 20px;
    //background: rgba(0, 0, 0, 0.5);
    background: #F5F5F5;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    vertical-align: bottom;
    min-height: 92px;
    border: 1px solid #CCC;
    display: inline-block;

    h3, h3.poster-title {
      color: #333;
      font-size: 18px;
      line-height: 16px;
      margin: 0;
      display: inline-block;
      vertical-align: bottom;
      a {
        color: $azure;
      }
    }
    //p {
    //  color: #666;
    //  margin: 10px 0 0 0;
    //  display: block;
    //  font-size: rem-calc(14);
    //  line-height: rem-calc(16);
    //}
    .poster-icon {
      display: inline-block;
      margin-left: 10px;
      vertical-align: bottom;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

