.view.view-portfolio-small {
  .view-header {
    @include grid-row(nest);
    .views-row {
      @include grid-column(12);
      @media #{$small-only} {
        padding: 0 20px 0 20px;
      }
    }
    h2 {
      margin: 0;
      margin-bottom: 3px;
      color: #FFFFFF;
      font-family: $custom-font;
      font-size: 36px;
      font-weight: 300;
      line-height: 44px;
    }
    p {
      margin: 0;
      margin-bottom: 30px;
      color: #FFFFFF;
      font-family: $base-font;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
    }
  }
  .view-content {
    @include grid-row(nest);
    .views-row {
      @include grid-column(4);
      margin-bottom: 20px;
      @media #{$small-only} {
        @include grid-column(12);
        padding: 0 20px 0 20px;
      }
    }
  }
  .views-field-title {
    color: #FFFFFF;
  }
}
